@import "tailwindcss";

@theme {
    --color-primary: #2513ec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #121022;

    --font-display: "Inter", "sans-serif";

    --radius-lg: 1rem;
    --radius-xl: 1.5rem;

}